.tabs {
    display: flex;
    position: relative;
}

.tabs__radio {
    position: absolute;
    left: -100vh;
}

.tabs__nav {
    display: flex;
    gap: 40px;
}

.tabs__label {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: var(--grey-3, #ACB5BD);
    padding-bottom: 8px;
}


.tabs__radio#all:checked ~ .tabs__nav label[for="all"],
.tabs__radio#elements:checked ~ .tabs__nav label[for="elements"],
.tabs__radio#containers:checked ~ .tabs__nav label[for="containers"],
.tabs__radio#templates:checked ~ .tabs__nav label[for="templates"] {
   color: var(--black, #212429);
   border-bottom: 5px solid #212429;
}