.card {
    display: flex;
    gap: 30px;
    height: 367px;
    max-width: 1110px;
}

.card__item {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 350px;
    background-color: var(--white);
    border-radius: 12px;
}

.card__title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}