<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="./button.css">

    <title>Button</title>
</head>

<body>
    <button class="button button_primary">Primary</button>
    <button class="button button_primary" disabled>Primary</button>

    <button class="button button_secondary">Secondary</button>
    <button class="button button_secondary" disabled>Secondary</button>

    <button class="button button_alternate">Alternate</button>
    <button class="button button_alternate" disabled>Alternate</button>
</body>

</html>