.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.5);
}

.modal__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    max-width: 428px;
    border-radius: 8px;
    padding: 30px 40px 33px;
    gap: 14px;
}

.modal__icon {
    width: 16px;
    height: 16px;
    color: var(--grey-4);
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.modal__title {
    color: #334D6E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

.modal__text {
color: var(--grey-4, #495057);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}