@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter18pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html {
    font-size: 16px;
}

body {
    background-color: --white;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.header__title {
    display: flex;
    align-items: center;
    padding: 96px 0 77px 160px;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 1.28;
}

.container {
    display: flex;
    background-color: var(--grey-1);
    border-block: 1px solid var( --grey-2);
    height: 1036px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 72px 0 136px 0;
}

.footer__title {
    font-size: 2.375rem;
    padding-bottom: 32px;
    font-weight: 500;
}

.footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 640px;
    font-weight: 400;
    line-height: 1.5;
}