.skeleton {
    display: flex;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 32px 40px 32px 24px;
    flex-direction: column;
}

.skeleton__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__userpic {
    background-color: var(--grey-2);
    width: 64px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-right: 16px;
}

.skeleton__user-value {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    gap: 8px;
}

.skeleton__line {
    height: 20px;
    background-color: var(--grey-2);
}

.skeleton__line-small {
    width: 30%;
}

.skeleton__line-large {
    width: 50%;
}

.skeleton__body {
    display: flex;
    flex-direction: column;
}

.skeleton__body-first {
    height: 20px;
    width: 100%;
    background-color: var(--grey-2);
    margin-bottom: 8px;
}

.skeleton__body-second {
    height: 20px;
    width: 100%;
    background-color: var(--grey-2);
}