<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordeon</title>

    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div class="container">
        <div class="accordion">
            <details class="accordion__item" open>
                <summary class="accordion__summary">Why did the programmer quit his job?</summary>
                <p class="accordion__text">Because he didn't get arrays (a raise)!</p>
            </details>

            <details class="accordion__item">
                <summary class="accordion__summary">How do you comfort a JavaScript bug?</summary>
                <p class="accordion__text">You console it!</p>
            </details>

            <details class="accordion__item">
                <summary class="accordion__summary">Why do programmers prefer dark mode?</summary>
                <p class="aaccordion__text">Because light attracts bugs!</p>
            </details>
        </div>

    </div>

</body>

</html>