.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-1);
    border-block: 1px solid var( --grey-2);
    gap: 30px;
    padding-block: 68px;
}